/* Presentacion */
.presentacion {
    width: 100%;
    height: 100vh;
    user-select: none;
}

.video-contenedor {
    position: relative;
    width: 100%;
    height: 100%;
}

.video-contenedor video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(75%);
}

.texto-contenedor {
    position: absolute;
    width: 100%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.texto-presentacion {
    color: #efefed;
    font-weight: 750;
    font-size: 500%;
}

.tp1 {
    color: #a7d723;
}

.tp2 {
    color: #1397cf;
}

.typewriter {
    overflow: hidden; /* Para que el texto no se desborde */
    white-space: nowrap; /* Para que el texto no se divida en varias líneas */
    animation: typing 2s steps(40);
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* Main */
main {
    background-color: #efefed;
}
.columna {
    display: flex;
    flex-direction: row;
}

.imagen-e1 {
    min-height: 50vh;
    background-color: #e2e2e2;
    position: relative;
    background-image: url("../content/recurso2.png");
    background-size: cover;
    background-position: bottom;
}

.imagen-e1::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(
        0,
        0,
        0,
        0.5
    );
    filter: brightness(
        75%
    );
}

.texto-e1 {
    color: white;
    font-weight: 750;
    font-size: xxx-large;
    position: relative;
    z-index: 1;
}

.imagen-e2 {
    min-height: 50vh;
    background-color: #e2e2e2;
    position: relative;
    background-image: url("../content/recurso1.jpg");
    background-size: cover;
    background-position: bottom;
}

.imagen-e2::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(
        0,
        0,
        0,
        0.5
    );
    filter: brightness(
        75%
    );
}

.texto-e2 {
    color: #a7d723;
    font-weight: 750;
    font-size: xxx-large;
    position: relative;
    z-index: 1;
}

.boton-presentacion {
    z-index: 2;
}

.cuadro {
    min-height: 25rem;
    background-color: #e2e2e2;
}

.cuadro1 {
    min-height: 25rem;
    background-color: #e2e2e2;
    background-image: url("../content/recurso3.jpg");
    background-size: cover;
    background-position: bottom;
}

.cuadro2 {
    min-height: 25rem;
    background-color: #e2e2e2;
    background-image: url("../content/recurso4.jpg");
    background-size: cover;
    background-position: bottom;
}

.mapa {
    min-height: 30vh;
    background-color: #e2e2e2;
}

@media only screen and (max-width: 767px) {
    .texto-index {
        color: #efefed;
        font-weight: 750;
        font-size: x-large;
    }
    .texto1-index {
        color: #a7d723;
        font-weight: 750;
        font-size: x-large;
    }
    .columna {
        display: flex;
        flex-direction: column;
    }
}
