.infocantidad {
    height: 2rem;
    display: flex;
    align-items: end;
    flex-direction: column;
}
#numcant {
    font-size: larger;
    font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.cantidad {
    height: 1px;
    font-size: 10px;
    font-weight: bolder;
    color: #38271a80;
}

/* CARTAS */
.carta-producto {
    margin: 1rem;
    width: 16rem;
    height: 24rem;
    background: #ffffff;
    position: relative;
    overflow: visible;
}
.carta-producto:hover {
    background-color: #e2f6ca;
    cursor: pointer;
    box-shadow: 0 15px 0px #a7d723;
}

.imagen-tarjeta img {
    background-repeat: no-repeat;
    background-position: center;
    height: 10.3rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    transition: 0.3s ease;
}
.svg-icon-carrito {
    width: 50px;
}
#carrito {
    fill: #38271a;
}
.contenedor-info {
    padding: 15px;
}
.card-footer {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    border-top: 3px solid #1397cf;
    color: #4b392b;
}

/*Text*/
.titulo {
    display: flex;
    justify-content: center;
}

.text-title {
    display: flex;
    align-items: end;
    height: 58px;
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
    color: #4b392b;
}

.text-body {
    font-size: 0.9em;
    padding-bottom: 10px;
}

/*Button*/
.card-button {
    background-color: #deca95;
    display: flex;
    justify-content: center;
    height: 2.5rem;
    width: 5rem;
    cursor: pointer;
    border-radius: 12px;
    transition: 0.1s ease-in-out;
}

/*Hover*/
.card-img:hover {
    transform: translateY(-2%);
}
.card-button:hover {
    border: 3px solid #7eab03;
    background-color: #a7d723;
}

/* BOTON FAV ---------------------*/
.btn-fav {
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    height: 30px;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}

.icon {
    height: 25px;
    width: 25px;
}

.icon path {
    fill: rgb(176, 176, 176);
    transition: 0.1s linear;
}

.btn-fav:hover > .icon path {
    fill: rgb(255, 0, 0);
}
