.navar {
    background-color: #38271a;
    box-shadow: #0000007a 1px 6px 16px;
    height: 5rem;
}

#logopatitanav {
    height: 3rem;
    margin-right: px;
}

.buscador {
    background-color: #a7d723;
    border: none;
    border-radius: 10px;
    width: 25rem;
    font-weight: 600;
    font-style: italic;
    height: 2.3rem;
}

.infocantidad {
    height: 3rem;
    display: flex;
    align-items: end;
    flex-direction: column;
}

#numcant {
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cantidad {
    font-size: 10px;
    height: 0px;
    font-weight: bolder;
    color: #38271a80;
}

/* CARTAS */
.carta-producto {
    margin: 1rem;
    width: 17rem;
    height: 24rem;
    padding: .8em;
    background: #f5f5f5;
    position: relative;
    overflow: visible;
}

.carta-producto:hover {
    cursor: pointer;
    box-shadow: 0 15px 0px #a7d723;
}

.imagen-tarjeta img {

    background-repeat: no-repeat;
    background-position: center;
    height: 10.3rem;
    border-radius: .5rem;
    transition: .3s ease;
}

.card-info {
    padding-top: 10%;
}

.svg-icon-carrito {
    width: 50px;

}

#carrito {
    fill: #38271a;
}

.contenedor-info {
    height: 15rem;
    padding: 15px;
}

.card-footer {
    width: 100%;
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    border-top: 3px solid #1397cf;
    color: #4b392b;
}

.titulo {
    display: flex;
    justify-content: center;
}

.text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
    color: #4b392b;
}

.text-body {
    font-size: .9em;
    padding-bottom: 10px;
}

.card-button {
    background-color: #ededed;
    display: flex;
    justify-content: center;
    height: 2rem;
    width: 4rem;
    cursor: pointer;
    border-radius: 12px;
    transition: .1s ease-in-out;
}

.card-img:hover {
    transform: translateY(-2%);
}

.card-button:hover {
    border: 3px solid #a7d723;
}

/* BOTON FAV ---------------------*/
.btn-fav {
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    height: 50px;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 0px;
    z-index: 1;
    right: 5px;
}

.icon {
    width: 35px;
}

.icon path {
    fill: rgb(176, 176, 176);
    transition: .1s linear;
}

.btn-fav:hover>.icon path {
    fill: rgb(255, 0, 0);
}